* /*{outline: 1px solid red} /*


/*-----Banner------*/

#banner {
  background-color: #D3B88C;
  margin-top: 0;
  margin-left: 6.92%;
  margin-right: 6.92%;
  margin-bottom: 0;
  height: 2%;
  font-family: "Palatino Linotype";
  border: 0.5px solid black;
}

div h1 {
  font-size: 260%;
  text-align: center;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;

}

/*-----Nav------*/

nav {
  text-align: center;
  background-color: #C89C55;
  border-bottom: 0.2px solid black;
  display: block;
}

a:link {
  text-decoration: none;
  color: #800000
}

a:hover {
  color: #0066ff;
}

a:visited {
  color: green;
}

/*-----Body------*/

h2, h3 {
  font-family: "Palatino Linotype";
  text-align: center;
}

body {
  background-image: url(BG-texture.jpg);
  background-color: #D3B88C;
  margin: 0;
  font-family: "Palatino Linotype";
  font-size: 14px;
}

/*-----Left Panel------*/

.content-panel-left {
  background-color: #D3B88C;
  margin-top: 0;
  width: 22%;
/*  min-width: 18%;
  max-width: 19%; */
  height: 10%;
  margin-left: 6.92%;
  padding-bottom: 4.9%;
  float: left;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;



}
.description {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/*-----Right Panel------*/

.content-panel-right {
  background-color: #D3B88C;
  margin-top: 0;
  width: 22%;
  height: 10%;
  margin-right: 6.92%;
  padding-bottom: 3.6%;
  float: right;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;

}

.content-panel-right img {
  max-width: 100%;

}

ul {
  display: inline-block;
  list-style-type: square;
}

.web-example {
  text-align: center;
  /* overflow: scroll; */
}

/*-----Center Panel------*/

.logo-center {
  background-color: rgba(211,184,140,0.7);
  /* max-width: 650px; */
  /*min-width: 310px;*/
  width: 41.88%;
  height: 10%;

  overflow: hidden;
}

.logo-center img {
  padding-left: 8%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 8.8%;
}

/*-----Footer------*/

#footer-container {
  background-color: #C89C55;
  font-family: "Palatino Linotype";
  clear: both;
  margin-left: 6.92%;
  margin-right: 6.92%;
  border: 0.5px solid black;
  height: 4%;
}

footer {
  text-align: center;
}

/*-----Media Queries------*/
